.addButton{
  background-color:#005F73 ;
  color:#EBD7A5;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms;
}
.addButton:hover{
  background-color: #EBD7A5;
  color: #005F73 
  ;
  box-shadow: 3px -3px 0px 0px #005F73;
}