
.beats .drum{
  width:100px;
  height:100px;
  border-radius:10px;
  background:linear-gradient(rgb(255, 234, 0),#ad1ea6);
}

.beatsButton{
  font-family: monospace;
  cursor:pointer;
  margin-top:10px;
  margin-left:10px;
  text-transform:uppercase;
  border:solid black;
}
.beatSpan{
  bottom:20px;
  width:100%;
  font-size:1.0rem;
  text-align: center;
}
.activeButton{
  width:100px;
  height:100px;
  border-radius:10px;
  background:linear-gradient(rgb(255, 234, 0),red);
}
.blueButton{
  width:100px;
  height:100px;
  border-radius:10px;
  font-weight: 700;
  color: white;
  background:linear-gradient(rgba(0,95,115,1),#099396 );
}