.appContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.row1{
  grid-column-start: 1;
  grid-column-end: 5;
}
.audioPlayer1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.audioPlayer2{
  grid-column-start: 3;
  grid-column-end: 5;
}